<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://mysqlaws.c05bmdvhonqe.ap-northeast-1.rds.amazonaws.com:3306/developer
        </property>
        <property name="hibernate.connection.username">
            admin

        </property>
        <property name="hibernate.connection.password">
            qwerty123
        </property>

        <property name="hibernate.id.new_generator_mappings">false</property>
        <mapping class="model.Skill"/>
        <mapping class="model.Developer"/>
        <mapping class="model.Account"/>
    </session-factory>
</hibernate-configuration>


