<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        id="Jersey-IMS-Task-ID" version="3.0">
  <display-name>MyWebApp</display-name>

  <servlet>
    <servlet-name>CreateDeveloperServlet</servlet-name>
    <servlet-class>controller.developer.CreateDeveloperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListDeveloperServlet</servlet-name>
    <servlet-class>controller.developer.ListDevelopersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDeveloperServlet</servlet-name>
    <servlet-class>controller.developer.DeleteDeveloperServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>CreateDeveloperServlet</servlet-name>
    <url-pattern>/add-developer</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>ListDeveloperServlet</servlet-name>
    <url-pattern>/list-developers</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteDeveloperServlet</servlet-name>
    <url-pattern>/delete-developer</url-pattern>
  </servlet-mapping>

</web-app>